@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: valorant;
  src: url(/assets/Fonts/valorant/Valorant\ Font.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(/assets/Fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: BigSpace;
  src: url(/assets/Fonts/BigSpace-rPKx.ttf);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
