<section class="p-4 h-[90vh] ">
  <div class="">
    <h1 class="text-center pt-12">CoinO'Bille</h1>
    <h2 class="text-center pt-4">¡Una aventura para aprender a invertir!</h2>
  </div>

  <div
    id="my-carousel"
    class="relative max-w-2xl ml-auto mr-auto"
    data-carousel="slide"
  >
    <!-- Carousel wrapper -->
    <div class="relative h-96 overflow-hidden rounded-lg">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="./assets/imagenes/banner (1).png"
          class="absolute block w-full h-full object-cover"
          alt="Slide 1"
        />
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="./assets/imagenes/demo.jpg"
          class="absolute block w-full h-full object-cover"
          alt="Slide 2"
        />
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="./assets/imagenes/alien.png"
          class="absolute block w-full h-full object-cover"
          alt="Slide 3"
        />
      </div>

      <!-- ... -->
    </div>
    <!-- Slider indicators -->
    <div
      class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3"
    >
      <button
        type="button"
        class="w-3 h-3 rounded-full bg-gray-300"
        aria-label="Slide 1"
        data-carousel-slide-to="0"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full bg-gray-300"
        aria-label="Slide 2"
        data-carousel-slide-to="1"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full bg-gray-300"
        aria-label="Slide 3"
        data-carousel-slide-to="2"
      ></button>
      <!-- ... -->
    </div>
  </div>
</section>

<section class="bg-[#181818] pb-6">
  <img class="mx-auto pt-20" src="./assets/imagenes/banner (1).png" alt="" />

  <p class="text-center text-[#efb810] text-3xl pt-3 font-valorant ">¡Conoce a Muffious!</p>

  <p class="text-white text-center pl-20 pr-20">
    Muffious es un explorador novato proveniente del planeta “Risma” muy
    curioso, amigable, pacifista e inocente que, en su paso por el sistema
    solar, sufrió un accidente al recibir una fuerte descarga de rayos cósmicos
    que lo hizo chocar en la tierra destruyendo así su nave.
  </p>

  <div class="w-full flex justify-around">
    <button class="bg-[#e1bf0b] p-4 rounded-md font-valorant shadow-md transform transition-transform duration-300 hover:scale-105">Demo</button>

    <button class="bg-[#e1bf0b] p-4 hover:bg-yellow-600  font-bold rounded-md shadow-md transform transition-transform duration-300 hover:scale-105 font-valorant">Play Game</button>
  </div>

  <div>

    <div>
    <h3 class="text-white text-4xl">¿Quienes somos y cual es nuestra mision?</h3>
    <p class="text-white">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita accusamus doloremque nostrum eveniet odit illum soluta quasi commodi aperiam, minima corporis excepturi quis necessitatibus eligendi sed, placeat repudiandae ad repellendus.
    </p>
  </div>


  </div>




  <div class="w-full flex justify-around">

    <img class="scale-75 rounded-3xl" src="./assets/imagenes/demo.jpg" alt="">

    <img class="scale-75 rounded-3xl" src="./assets/imagenes/juego.jpg" alt="">
    

  </div>
</section>
